{{ header }}{{ column_left }}
<div id="content" class="supplier_mgmt">
  <style>
    .btn{
      border-radius: 0;
    }
  </style>
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-product').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title_list }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <div class="well">
          <div class="row">

            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-purchase-id">{{ entry_purchase_id }}</label>
                <input type="text" name="filter_purchase_id" value="{{ filter_purchase_id }}" placeholder="{{ entry_purchase_id }}" id="input-purchase-id" class="form-control" />
              </div>

              <div class="form-group">
                <label class="control-label" for="input-order-status">{{ entry_status }}</label>
                <select name="filter_status" id="input-order-status" class="form-control">
                  <option value="*">{{ entry_select }}</option>
                  {% for key, status in quotation_status %}
                    <option value="{{ key }}" {% if filter_status is same as (key) %}{{ 'selected' }}{% endif %}>{{ status }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-owner">{{ entry_owner_name }}</label>
                <div class='input-group'>
                  <input type="text" name="filter_owner_name" value="{{ filter_owner_name }}" placeholder="{{ entry_owner_name }}" id="input-owner" class="form-control" />
                  <span class="input-group-addon">
                    <span class="fa fa-angle-double-down"></span>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="input-grand-total">{{ column_grand_total }}</label>
                  <input type="text" name="filter_grand_total" value="{{ filter_grand_total }}" placeholder="{{ column_grand_total }}" id="input-grand-total" class="form-control" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-purchase-date">{{ entry_purcahse_date }}</label>
                <div class='input-group date'>
                  <input type="text" name="filter_purchase_date" value="{{ filter_purchase_date }}" placeholder="{{ entry_purcahse_date }}" id="input-purchase-date" class="form-control" data-date-format="YYYY-MM-DD" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>

              <a href="{{ clear }}" id="button-clear" class="btn btn-default pull-right"><i class="fa fa-eraser" aria-hidden="true"></i> {{ button_clear }}</a>

              <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-filter"></i> {{ button_filter }}</button>
            </div>
          </div>
        </div>
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-product">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left">{% if sort is same as ('q.quotation_id') %}
                    <a href="{{ sort_quotation_id }}" class="{{ order|lower }}">{{ column_purchase_order_id }}</a>
                    {% else %}
                    <a href="{{ sort_quotation_id }}">{{ column_purchase_order_id }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort is same as ('q.order_id') %}
                    <a href="{{ sort_oc_order_id }}" class="{{ order|lower }}">{{ column_oc_order_id }}</a>
                    {% else %}
                    <a href="{{ sort_oc_order_id }}">{{ column_oc_order_id }}</a>
                    {% endif %}</td>
                  <td class="text-center">{% if sort is same as ('q.created_date') %}
                    <a href="{{ sort_created_date }}" class="{{ order|lower }}">{{ column_purchase_date }}</a>
                    {% else %}
                    <a href="{{ sort_created_date }}">{{ column_purchase_date }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort is same as ('sd.owner_name') %}
                    <a href="{{ sort_owner_name }}" class="{{ order|lower }}">{{ column_supplier_name }}</a>
                    {% else %}
                    <a href="{{ sort_owner_name }}">{{ column_supplier_name }}</a>
                    {% endif %}</td>
                  <td class="text-center">{{ column_ordered_qty }}</td>
                  <td class="text-center">{{ column_received_qty }}</td>
                  <td class="text-center">{{ column_remaining_qty }}</td>
                  <td class="text-center">{% if sort is same as ('q.total') %}
                    <a href="{{ sort_grand_total }}" class="{{ order|lower }}">{{ column_grand_total }}</a>
                    {% else %}
                    <a href="{{ sort_grand_total }}">{{ column_grand_total }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort is same as ('p.status') %}
                    <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
                    {% else %}
                    <a href="{{ sort_status }}">{{ column_status }}</a>
                    {% endif %}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if po_orders %}
                {% for order in po_orders %}
                <tr>
                  <td class="text-center">{% if order.id in selected %}
                    <input type="checkbox" name="selected[]" value="{{ order.id}}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{ order.id }}" />
                    {% endif %}</td>
                  <td class="text-left">{{ order.order_id }}</td>
                  <td class="text-left">{{ order.oc_order_id ? order.oc_order_id : '--N/A--' }}</td>
                  <td class="text-left">{{ order.purchase_date }}</td>
                  <td class="text-left">{{ order.supplier_name }}</td>
                  <td class="text-center">{{ order.ordered_qty }}</td>
                  <td class="text-center">{{ order.received_qty }}</td>
                  <td class="text-center">
                    {% if order.ordered_qty !=  order.received_qty %}
                      {{ order.ordered_qty - order.received_qty }}
                    {% else %}
                      {{ '-Nil-' }}
                    {% endif %}</td>
                  <td class="text-center">{{ order.ordered_total }}</td>
                  <td class="text-left" style="color:{{ order.status_color }};font-size:14px;font-weight:600;">{{ order.status }}</td>
                  <td class="text-right">
                    {% if order.oc_order_id  != 0 %}
                      <a href="{{ order.oc_order_view }}" target="_blank" data-toggle="tooltip" title="{{ button_oc_order_view }}" class="btn btn-info"><i class="fa fa-eye"></i></a>
                    {% endif %}
                    <a href="{{ order.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-warning"><i class="fa fa-eye"></i></a>
                  </td>
                </tr>
                {% endfor %}
                 {% else %}
                <tr>
                  <td class="text-center" colspan="9">{{ text_no_record }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row" id="pagination">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	var url = 'index.php?route=po_mgmt/po_order&user_token={{ user_token }}';

	var filter_purchase_id = $('input[name=\'filter_purchase_id\']').val();

  if (filter_purchase_id) {
    var getQuotationId = filter_purchase_id.split('#');
      if(getQuotationId[1]){
          url += '&filter_purchase_id=' + encodeURIComponent(getQuotationId[1]);
      }else{
          url += '&filter_purchase_id=' + encodeURIComponent(getQuotationId);
      }
	}
	var filter_owner_name = $('input[name=\'filter_owner_name\']').val();

	if (filter_owner_name) {
		url += '&filter_owner_name=' + encodeURIComponent(filter_owner_name);
	}

  var filter_grand_total = $('input[name=\'filter_grand_total\']').val();

	if (filter_grand_total) {
		url += '&filter_grand_total=' + encodeURIComponent(filter_grand_total);
	}

	var filter_purchase_date = $('input[name=\'filter_purchase_date\']').val();

	if (filter_purchase_date) {
		url += '&filter_purchase_date=' + encodeURIComponent(filter_purchase_date);
	}

	var filter_status = $('select[name=\'filter_status\']').val();

	if (filter_status != '*') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}
	location = url;
});
//--></script>
  <script type="text/javascript"><!--
$('input[name=\'filter_owner_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=po_mgmt/po_supplier/autocomplete&user_token={{ user_token }}&filter_owner_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['supplier_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_owner_name\']').val(item['label']);
	}
});

$('.date').datetimepicker({
  pickDate: true,
  pickTime: false
});
//--></script></div>
{{ footer }}
