{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-supplier-pay" class="btn btn-primary"><i class="fa fa-credit-card"></i> {{ button_pay }}</button>
                <a href="{{ cancel }}" class="btn btn-default"><i class="fa fa-reply"></i> {{ button_cancel }}</a>
            </div>
            <h1>{{ heading_title_supplier }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>        
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> {{ heading_title_supplier ~ ' ' ~ text_list }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" class="form-horizontal" id="form-supplier-pay">
                    <div class="well">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <td>{{ entry_name }}</td>
                                <td>{{ supplier_name }}</td>
                            </tr>
                            <tr>
                                <td>{{ entry_email }}</td>
                                <td>{{ supplier_email }}</td>
                            </tr>
                            <tr>
                                <td>{{ entry_due_amount }}</td>
                                <td>{{ due_amount }}</td>
                            </tr>
                            <tr>
                                <td class="required">{{ entry_comment }}</td>
                                <td>
                                    <textarea name="comment" id="" cols="30" rows="10" class="form-control"></textarea>
                                    {% if error_comment %}
                                        <p class="text-danger">{{ error_comment }}</p>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% if error_selected %}
                        <p class="text-danger">{{ error_selected }}</p>
                    {% endif %}
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td style="width: 1px;" class="text-center">
                                        <input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);">
                                    </td>
                                    <td>
                                        {% if sort == 'quotation_id' %}
                                            <a href="{{ sort_purchase }}" class="{{ order|lower }}">{{ column_purchase_id }}</a>
                                        {% else %}
                                            <a href="{{ sort_purchase }}">{{ column_purchase_id }}</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if sort == 'order_id' %}
                                            <a href="{{ sort_order }}" class="{{ order|lower }}">{{ column_order_id }}</a>
                                        {% else %}
                                            <a href="{{ sort_order }}">{{ column_order_id }}</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if sort == 'purchase_date' %}
                                            <a href="{{ sort_purchase_date }}" class="{{ order|lower }}">{{ column_purchase_date }}</a>
                                        {% else %}
                                            <a href="{{ sort_purchase_date }}">{{ column_purchase_date }}</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if sort == 'total' %}
                                            <a href="{{ sort_total }}" class="{{ order|lower }}">{{ column_total }}</a>
                                        {% else %}
                                            <a href="{{ sort_total }}">{{ column_total }}</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                {% if purchase_orders is defined and purchase_orders %}
                                    {% for purchase_order in purchase_orders %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" name="selected[]" value="{{ purchase_order.id }}">
                                            </td>
                                            <td>{{ purchase_order.quotation_id }}</td>
                                            <td>{{ purchase_order.order_id }}</td>
                                            <td>{{ purchase_order.purchase_date }}</td>
                                            <td>{{ purchase_order.total }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="5" class="text-center">{{ text_no_result }}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 text-left">{{ pagination }}</div>
                        <div class="col-sm-6 text-right">{{ results }}</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}