{{ header }}{{ column_left }}
<div id="content" class="supplier_mgmt">
  <style>
    .supplier_mgmt .panel-heading, .supplier_mgmt .control-label, #pagination .text-right, .page-header h1, .breadcrumb li a{
      color: #39372b;
    }
    .btn{
      border-radius: 0;
    }
  </style>
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add_supplier }}" class="btn btn-primary"><i class="fa fa-plus"></i> {{ button_add_supplier }}</a>
        <!-- <button type="button" data-toggle="tooltip" title="{{ button_export_supplier }}" class="btn btn-warning" ><i class="fa fa-upload" aria-hidden="true"></i> {{ button_export_supplier }}</button> -->
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-supplier-list').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title_list }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <div class="well">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-company-name">{{ entry_company_name }}</label>
                <div class='input-group'>
                  <input type="text" name="filter_company_name" value="{{ filter_company_name }}" placeholder="{{ entry_company_name }}" id="company-name" class="form-control" />
                  <span class="input-group-addon">
                    <span class="fa fa-angle-double-down"></span>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="input-address">{{ entry_address }}</label>
                <input type="text" name="filter_address" value="{{ filter_address }}" placeholder="{{ entry_address }}" id="input-address" class="form-control" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-owner">{{ entry_owner_name }}</label>
                <div class='input-group'>
                  <input type="text" name="filter_owner_name" value="{{ filter_owner_name }}" placeholder="{{ entry_owner_name }}" id="input-owner" class="form-control" />
                  <span class="input-group-addon">
                    <span class="fa fa-angle-double-down"></span>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="input-postcode">{{ entry_postcode }}</label>
                <input type="text" name="filter_postcode" value="{{ filter_postcode }}" placeholder="{{ entry_postcode }}" id="input-postcode" class="form-control" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-email">{{ entry_email }}</label>
                <div class='input-group'>
                  <input type="text" name="filter_email" value="{{ filter_email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
                  <span class="input-group-addon">
                    <span class="fa fa-angle-double-down"></span>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="input-status">{{ entry_status }}</label>
                <select name="filter_status" id="input-status" class="form-control">
                  <option value="*"></option>
                  {% if filter_status == '1' %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                    <option value="1">{{ text_enabled }}</option>
                  {% endif %}
                  {% if filter_status == '0' %}
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %}
                    <option value="0">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>

              <a href="{{ clear }}" id="button-clear" class="btn btn-default pull-right"><i class="fa fa-eraser" aria-hidden="true"></i> {{ button_clear }}</a>

              <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-filter"></i> {{ button_filter }}</button>
            </div>
          </div>
        </div>
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-supplier-list">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left">{% if sort is same as ('sd.company_name') %}
                    <a href="{{ sort_company_name }}" class="{{ order|lower }}">{{ column_company_name }}</a>
                    {% else %}
                    <a href="{{ sort_company_name }}">{{ column_company_name }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort is same as ('s.owner_name') %}
                    <a href="{{ sort_owner_name }}" class="{{ order|lower }}">{{ column_owner_name }}</a>
                    {% else %}
                    <a href="{{ sort_owner_name }}">{{ column_owner_name }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort is same as ('s.email') %}
                    <a href="{{ sort_email }}" class="{{ order|lower }}">{{ column_email }}</a>
                    {% else %}
                    <a href="{{ sort_email }}">{{ column_email }}</a>
                    {% endif %}</td>
                  <td class="text-center">{% if sort is same as ('s.address') %}
                    <a href="{{ sort_address }}" class="{{ order|lower }}">{{ column_address }}</a>
                    {% else %}
                    <a href="{{ sort_address }}">{{ column_address }}</a>
                    {% endif %}</td>
                  <td class="text-center">{% if sort is same as ('s.postcode') %}
                    <a href="{{ sort_postcode }}" class="{{ order|lower }}">{{ column_postcode }}</a>
                    {% else %}
                    <a href="{{ sort_postcode }}">{{ column_postcode }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort is same as ('p.status') %}
                    <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
                    {% else %}
                    <a href="{{ sort_status }}">{{ column_status }}</a>
                    {% endif %}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if suppliers %}
                {% for supplier in suppliers %}
                <tr>
                  <td class="text-center">
                  {% if supplier.supplier_id in selected %}
                    <input type="checkbox" name="selected[]" value="{{ supplier.supplier_id}}" checked="checked" />
                  {% else %}
                    <input type="checkbox" name="selected[]" value="{{ supplier.supplier_id }}" />
                  {% endif %}</td>
                  <td class="text-left">{{ supplier.company_name }}</td>
                  <td class="text-left">{{ supplier.owner_name }}</td>
                  <td class="text-left">{{ supplier.email }}</td>
                  <td class="text-center">{{ supplier.address }}</td>
                  <td class="text-center">{{ supplier.postcode }}</td>
                  <td class="text-left">{{ supplier.status }}</td>
                  <td class="text-right"><a href="{{ supplier.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                </tr>
                {% endfor %}
                 {% else %}
                <tr>
                  <td class="text-center" colspan="8">{{ text_no_record }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row" id="pagination">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	var url = 'index.php?route=po_mgmt/po_supplier&user_token={{ user_token }}';

	var filter_company_name = $('input[name=\'filter_company_name\']').val();

	if (filter_company_name) {
		url += '&filter_company_name=' + encodeURIComponent(filter_company_name);
	}

	var filter_address = $('input[name=\'filter_address\']').val();

	if (filter_address) {
		url += '&filter_address=' + encodeURIComponent(filter_address);
	}

	var filter_owner_name = $('input[name=\'filter_owner_name\']').val();

	if (filter_owner_name) {
		url += '&filter_owner_name=' + encodeURIComponent(filter_owner_name);
	}

	var filter_postcode = $('input[name=\'filter_postcode\']').val();

	if (filter_postcode) {
		url += '&filter_postcode=' + encodeURIComponent(filter_postcode);
	}

  var filter_email = $('input[name=\'filter_email\']').val();

	if (filter_email) {
		url += '&filter_email=' + encodeURIComponent(filter_email);
	}

	var filter_status = $('select[name=\'filter_status\']').val();

	if (filter_status != '*') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
  }
  
  url += '&sort={{ sort }}&order={{ order }}';

	location = url;
});
//--></script>
<script type="text/javascript"><!--
$('input[name=\'filter_company_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=po_mgmt/po_supplier/autocomplete&user_token={{ user_token }}&filter_company_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['supplier_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_company_name\']').val(item['label']);
	}
});

$('input[name=\'filter_owner_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=po_mgmt/po_supplier/autocomplete&user_token={{ user_token }}&filter_owner_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['supplier_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_owner_name\']').val(item['label']);
	}
});


$('input[name=\'filter_email\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=po_mgmt/po_supplier/autocomplete&user_token={{ user_token }}&filter_email=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['supplier_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_email\']').val(item['label']);
	}
});


$('input[name=\'filter_address\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=po_mgmt/po_supplier/autocomplete&user_token={{ user_token }}&filter_address=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['supplier_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_address\']').val(item['label']);
	}
});
//--></script></div>
{{ footer }}
