{{ header }}{{ column_left }}
<div id="content" class="supplier_mgmt">
<style type="text/css">
  .tabs-left > .li-format{
    margin:12px 0;
    margin-right: -18px;
    border-left: 3px solid #009e8a;
    float: none;
  }
  .tabs-left > .li-format > a{
    border-radius: 0;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }
  .tabs-left > li.active{
    border-left: 3px solid #E22C5C;
  }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border-bottom: 1px solid #e8e8e8;
    border-right: none;
  }
  .supplier_mgmt .panel-heading,  #pagination .text-right, .page-header h1, .breadcrumb li a, .supplier_heading_section{
    color: #39372b;
  }
  hr{
    border-color: #009e8a;
    border-width: 1px 0 0;
    margin-right: 20px;
  }
  .btn{
    border-radius: 0;
  }
  .supplier_heading_section{
    font-size: 15px;
    font-weight: normal;
    padding-left: 40px;
    padding-right: 0;
    margin: 0;
    color: #009e8a;
  }
  </style>
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-supplier" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i>{{ button_save }}</button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>{{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">

          <div class="col-sm-3" id="supplier_left_link">
            <div class="panel panel-primary" style="border-color:#009e8a;">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <center><b><i class="fa fa-user-secret" aria-hidden="true"></i>{{ entry_supplier_info|upper }}</b></center>
                </h4>
              </div>

              <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-left"><!-- 'tabs-right' for right tabs -->
                  <li class="active li-format"><a href="#supplier_details" data-toggle="tab">{{ text_details_tab }}</a></li>
                  {% if supplier_id %}
                    <li class="li-format"><a href="#supplier_product" data-toggle="tab">{{ text_product_tab }}</a></li>
                    <li class="li-format"><a href="#supplier_quotation" data-toggle="tab">{{ text_quotation_tab }}</a></li>
                    <li class="li-format"><a href="#supplier_po" data-toggle="tab">{{ text_po_tab }}</a></li>
                    <li class="li-format"><a href="#supplier_payment" data-toggle="tab">{{ text_supplier_payment }}</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div><!--Col-sm-3-->

          <div class="col-sm-9">
            <!-- Tab panes -->
              <div class="panel panel-primary" style="border-color:#009e8a;">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <b><i class="fa fa-user-secret" aria-hidden="true"></i>{{ text_supplier_information|upper }}</b>
                  </h4>
                </div>
                <div class="panel-body">
                  <div class="tab-content" id="supplier_right_link">
                    <div class="tab-pane active" id="supplier_details">
                      <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-supplier" class="form-horizontal">
                        <div class="form-group"><label class="col-sm-3 supplier_heading_section">{{ text_company_details }}</label><hr>
                          <input type="hidden" name="supplier_id" value="{{ supplier_id }}" />
                        </div>

                          <div class="form-group required">
                            <label class="col-sm-3 control-label" for="input-company-name">{{ entry_company_name }}</label>
                            <div class="col-sm-8">
                              {% for language in languages %}
                                <div class="input-group">
                                    <input type="text" name="supplier_details[{{ language.language_id }}][company_name]" id="input-company-name" value="{% if supplier_details[language.language_id].company_name %}{{ supplier_details[language.language_id].company_name }}{% endif %}" class="form-control" placeholder="{{ placeholder_company_name }}" />
                                    <span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                                </div>
                                {% if error_company_name[language.language_id] %}
                                  <div class="text-danger">{{ error_company_name[language.language_id] }}</div>
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>

                          <div class="form-group required">
                            <label class="col-sm-3 control-label" for="input-email-address">{{ entry_email }}</label>
                            <div class="col-sm-8">
                              <input type="text" name="supplier_email" id="input-email-address" value="{% if supplier_email %}{{ supplier_email }}{% endif %}" class="form-control" placeholder="{{ placeholder_email }}" />

                              {% if error_email %}
                                <div class="text-danger">{{ error_email }}</div>
                              {% endif %}
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-sm-3 control-label" for="input-website">{{ entry_website }}</label>
                            <div class="col-sm-8">
                              <input type="text" name="supplier_website" id="input-website" value="{% if supplier_website %}{{ supplier_website }}{% endif %}" class="form-control" placeholder="{{ placeholder_website }}" />
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-sm-3 control-label" for="input-tax-number">{{ entry_tax_number }}</label>
                            <div class="col-sm-8">
                              <input type="text" name="supplier_tax_number" id="input-tax-number" value="{% if supplier_tax_number %}{{ supplier_tax_number }}{% endif %}" class="form-control" placeholder="{{ placeholder_tax_number }}" />
                            </div>
                          </div>

                          <div class="form-group" style="padding-top:20px;"><label class="col-sm-3 supplier_heading_section">{{ text_owner_details }}</label><hr></div>

                          <div class="form-group required">
                            <label class="col-sm-3 control-label" for="input-owner-name">{{ entry_owner_name }}</label>
                            <div class="col-sm-8">
                              {% for language in languages %}
                                <div class="input-group">
                                    <input type="text" name="supplier_details[{{ language.language_id }}][owner_name]" id="input-owner-name" value="{% if supplier_details[language.language_id].owner_name %}{{ supplier_details[language.language_id].owner_name }}{% endif %}" class="form-control" placeholder="{{ placeholder_owner_name }}" />
                                    <span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                                </div>
                                {% if error_owner_name[language.language_id] %}
                                  <div class="text-danger">{{ error_owner_name[language.language_id] }}</div>
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-sm-3 control-label">{{ entry_gender }}</label>
                            <div class="col-sm-8">
                              {% if supplier_gender %}
                                <label class="radio-inline">
                                  <input type="radio" name="supplier_gender" value="M" {% if supplier_gender is same as ('M') %}{{ "checked" }}{% endif %} />
                                  {{ text_male }}
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="supplier_gender" value="F"  {% if supplier_gender is same as ('F') %}{{ "checked" }}{% endif %} />
                                  {{ text_female }}
                                </label>
                              {% else %}
                                <label class="radio-inline">
                                  <input type="radio" name="supplier_gender" value="M" checked="checked"/>
                                  {{ text_male }}
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="supplier_gender" value="F" />
                                  {{ text_female }}
                                </label>
                              {% endif %}
                            </div>
                          </div>

                          <div class="form-group row">
                            <div class="required col-sm-7 col-xs-12" style="padding-right: 0;">
                              <label class="col-sm-5 control-label" for="input-telephone">{{ entry_telephone }}</label>
                              <div class="col-sm-7">
                                <input name="supplier_telephone" id="input-telephone" value="{% if supplier_telephone %}{{ supplier_telephone }}{% endif %}" class="form-control" placeholder="{{ placeholder_telephone }}" type="text">
                                {% if error_telephone %}
                                  <div class="text-danger">{{ error_telephone }}</div>
                                {% endif %}
                              </div>
                            </div>
                            <div class="col-sm-5 col-xs-12" style="padding-right: 0;">
                              <label class="col-sm-3 control-label" for="input-fax">{{ entry_fax }}</label>
                              <div class="col-sm-7">
                                <input name="supplier_fax" id="input-fax" value="{% if supplier_fax %}{{ supplier_fax }}{% endif %}" class="form-control" placeholder="{{ placeholder_fax }}" type="text">
                              </div>
                            </div>
                          </div>

                          <div class="form-group" style="padding-top:20px;"><label class="col-sm-3 supplier_heading_section">{{ text_address_details }}</label><hr></div>

                          <div class="form-group required">
                            <label class="col-sm-3 control-label" for="input-street">{{ entry_street }}</label>
                            <div class="col-sm-8">
                              <input type="text" name="supplier_street" id="input-street" value="{% if supplier_street %}{{ supplier_street }}{% endif %}" class="form-control" placeholder="{{ placeholder_street }}" />
                              {% if error_street %}
                                <div class="text-danger">{{ error_street }}</div>
                              {% endif %}
                            </div>
                          </div>

                          <div class="form-group required">
                            <label class="col-sm-3 control-label" for="input-street">{{ entry_city }}</label>
                            <div class="col-sm-8">
                              <input type="text" name="supplier_city" id="input-city" value="{% if supplier_city %}{{ supplier_city }}{% endif %}" class="form-control" placeholder="{{ placeholder_city }}" />
                              {% if error_city %}
                                <div class="text-danger">{{ error_city }}</div>
                              {% endif %}
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-sm-3 control-label" for="input-street">{{ entry_postcode }}</label>
                            <div class="col-sm-8">
                              <input type="text" name="supplier_postcode" id="input-postcode" value="{% if supplier_postcode %}{{ supplier_postcode }}{% endif %}" class="form-control" placeholder="{{ placeholder_postcode }}" />
                              {% if error_postcode %}
                                <div class="text-danger">{{ error_postcode }}</div>
                              {% endif %}
                            </div>
                          </div>

                          <div class="form-group required">
                            <label class="col-sm-3 control-label" for="input-country">{{ entry_country }}</label>
                            <div class="col-sm-8">
                              <select name="supplier_country_id" id="input-country" onchange="country(this, '{{ supplier_state_id }}');" class="form-control">
                                <option value="">{{ text_select }}</option>
                                {% for country in countries %}
                                {% if country.country_id is same as (supplier_country_id) %}
                                <option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
                                {% else %}
                                <option value="{{ country.country_id }}">{{ country.name }}</option>
                                {% endif %}
                                {% endfor %}
                              </select>
                              {% if error_country %}
                              <div class="text-danger">{{ error_country }}</div>
                              {% endif %}
                            </div>
                          </div>
                          <div class="form-group required">
                            <label class="col-sm-3 control-label" for="input-zone">{{ entry_state }}</label>
                            <div class="col-sm-8">
                              <select name="supplier_state_id" id="input-zone" class="form-control">
                              </select>
                              {% if error_zone %}
                              <div class="text-danger">{{ error_zone }}</div>
                              {% endif %}
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-sm-3 control-label" for="input-status">{{ entry_status }}</label>
                            <div class="col-sm-8">
                              <select name="supplier_status" id="input-status" class="form-control">
                                {% if supplier_status %}
                                <option value="1" selected="selected">{{ text_enabled }}</option>
                                <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                <option value="1">{{ text_enabled }}</option>
                                <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                              </select>
                            </div>
                          </div>

                      </form>
                    </div><!--supplier-details-->

                    <div class="tab-pane" id="supplier_product">
                      {{ supplier_product }}
                    </div><!--supplier_product-->

                    <div class="tab-pane" id="supplier_quotation">
                      {{ supplier_quotation }}
                    </div><!--supplier_quotation-->

                    <div class="tab-pane" id="supplier_po">
                      {{ supplier_po }}
                    </div><!--supplier_po-->
                    <div class="tab-pane" id="supplier_payment">
                      {{ supplier_payment }}
                    </div><!--supplier_po-->

                  </div><!--tab-content-col-sm-9-->

              </div><!--panel-body-->
            </div><!--Panel-->
          </div><!--Col-sm-9-->

      </div>
    </div>
  </div>
</div>
{{ footer }}
<script type="text/javascript"><!--
function country(element, zone_id) {
$.ajax({
  url: 'index.php?route=localisation/country/country&user_token={{ user_token }}&country_id=' + element.value,
  dataType: 'json',
  beforeSend: function() {
    $('select[name=\'supplier_country_id\']').after(' <i class="fa fa-circle-o-notch fa-spin"></i>');
  },
  complete: function() {
    $('.fa-spin').remove();
  },
  success: function(json) {
    if (json['postcode_required'] == '1') {
      $('input[name=\'supplier_postcode\']').parent().parent().addClass('required');
    } else {
      $('input[name=\'supplier_postcode\']').parent().parent().removeClass('required');
    }

    html = '<option value="">{{ text_select }}</option>';

    if (json['zone'] && json['zone'] != '') {
      for (i = 0; i < json['zone'].length; i++) {
        html += '<option value="' + json['zone'][i]['zone_id'] + '"';

        if (json['zone'][i]['zone_id'] == zone_id) {
          html += ' selected="selected"';
        }

        html += '>' + json['zone'][i]['name'] + '</option>';
      }
    } else {
      html += '<option value="0">{{ text_none }}</option>';
    }

    $('select[name=\'supplier_state_id\']').html(html);
  },
  error: function(xhr, ajaxOptions, thrownError) {
    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
  }
});
}

$('select[name=\'supplier_country_id\']').trigger('change');


$(document).ready(function() {
/**
 * [getURL to open current filter tab]
 * @type {[type]}
 */
var getURL = window.location.search.substring(1);
var getARGU = getURL.split("&");

for (var i=0;i < getARGU.length;i++) {
  var getSTATUS = getARGU[i].split("=");

  if(getSTATUS[0] && getSTATUS[0] == 'tab_active'){
    $('#supplier_left_link li').removeClass('active');
    $('#supplier_right_link .tab-pane').removeClass('active');
    $('#supplier_left_link li > a').each(function(key, val){
      var getHRF = $(val).attr('href');
      if(getHRF == '#'+getSTATUS[1]){
        $(val).parent().addClass('active');
      }
    })
    $('#supplier_right_link .tab-pane').each(function(key, val){
      var getID = $(val).attr('id');
      if(getID == getSTATUS[1]){
        $(val).addClass('active');
      }
    })
  }
}

});
//--></script>
