<a href="{{ timeslots }}" data-toggle="tooltip" title="{{ heading_title_timelist }}" class="btn btn-primary"><i class="fa fa-clock-o" style="font-size:16px;"></i></a>
<a href="{{ assignment }}" data-toggle="tooltip" title="{{ text_list }}" class="btn btn-primary"><i class="fa fa-truck fa-fw"></i> <i class="fa fa-user fa-fw"></i></a>
<a href="{{ transactionreport }}" data-toggle="tooltip" title="{{ heading_title_transactionreport }}" class="btn btn-primary"><i class="fa fa-file"></i></a>